/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 50px; /* Adjust height for proper scaling */
  margin-right: 10px;
}

.logo-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: orange;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: orange;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #333;
}

.search-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: orange;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #e68a00;
}

.search-icon {
  font-size: 1rem;
}


.search-form {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

.search-input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
}

.submit-button {
  padding: 8px 12px;
  background-color: #ff7f00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e06600;
}
